.contenedor{
    background-color: gray;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    flex-wrap: nowrap;
   }

.item1{
    background-color:red ;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.item2{
    background-color:blue ;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.item3{
    background-color:green ;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}